<h1>
	Welcome to Barbershop!
</h1>
<p>
	We are open
</p>
<form action="/" method="POST">
	Your name: <br />
	<input type="text" name="user_name" /> <br />

	Your phone: <br />
	<input type="text" name="phone" /> <br />

	Date and time <br />
	<input type="text" name="date_time" /><br />

	Master <br />
<select class="form-control" name="master">
  <option>Master 1</option>
  <option>Master 2</option>
  <option>Master 3</option>
  <option>Master 4</option>
</select><br />



	<input type="submit"/><br />

</form>
